.backdrop {

}

.backdropActive {
    background-color: rgba(0,0,0,.3);
    cursor: pointer;
    height: 100%;
    left: 0;
    mix-blend-mode: hard-light;
    position: absolute;
    top: 0;
    width: 100%;
}